<%- include ('header') %>
<%- include ('navbar') %>
<%- include ('sidebar') %>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
          
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><%= nInoculum%></h3>
                <p><%= __('ElementiInoculi_Ds') %></p>
              </div>
              <div class="icon">
                <i class="fas fa-microscope"></i>
              </div>
              <a href="/mushElement?filterCategory=INOCULUM" class="small-box-footer">Elenco <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3><%= nSpawn%></h3>
                <p><%= __('ElementiSpawn_Ds') %></p>
              </div>
              <div class="icon">
                <i class="fas fa-share-alt"></i>
                
              </div>
              <a href="/mushElement?filterCategory=SPAWN" class="small-box-footer">Elenco <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><%= nCultivation%></h3>
                <p><%= __('ElementiColtivo_Ds') %></p>
              </div>
              <div class="icon">
                <i class="lni lni-mushroom-1"></i>
              </div>
              <a href="/mushElement?filterCategory=CULTIVATION" class="small-box-footer">Elenco <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <div class="small-box bg-light">
              <div class="inner">
                <h3>
                <% if (harvests[0].harvest>1000){%>
                  <%= (harvests[0].harvest/1000).toFixed(2).toString().replace(".", ",")%> kg
                <% } else { %>
                  <%=  harvests[0].harvest.toString().replace(".", ",")%> g
                <% } %></h3>
                <p><%= __('raccoltoSettimanale_Ds') %>: <%=  harvests[0].week %></p>
              </div>
              <div class="icon">
                <i class="fas fa-weight"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <div class="small-box bg-light">
              <div class="inner">
                <h3>
                <% if (harvests[1].harvest>1000){%>
                  <%= (harvests[1].harvest/1000).toFixed(2).toString().replace(".", ",")%> kg
                <% } else { %>
                  <%=  harvests[1].harvest.toString().replace(".", ",")%> g
                <% } %></h3>
                <p><%= __('raccoltoMensile') %>: <%=  harvests[1].month %></p>
              </div>
              <div class="icon">
                <i class="fas fa-weight"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-6">
            <div class="small-box bg-light">
              <div class="inner">
                <h3>
                <% if (harvests[2].harvest>1000){%>
                  <%= (harvests[2].harvest/1000).toFixed(2).toString().replace(".", ",")%> kg
                <% } else { %>
                  <%=  harvests[2].harvest.toString().replace(".", ",")%> g
                <% } %></h3>
                <p><%= __('raccoltoAnnuale') %> <%=  harvests[2].year %></p>
              </div>
              <div class="icon">
                <i class="fas fa-weight"></i>
              </div>
            </div>
          </div>
          
        </div>
        
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-12 connectedSortable">
            <!-- TO DO List -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="ion ion-clipboard mr-1"></i>
                  To Do List
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-primary float-right btn-xs" id="addElemento_btn" data-toggle="modal" data-target="#addTodo_Mdl">
                    <i class="fas fa-plus"></i> Aggiungi elemento
                  </button>
                </div>
              </div>
              
              <div class="card-body">
                <div id="todo_Tbl">

                </div>
              </div>
             
              
              <!-- Modal todo-->
              <div class="modal fade" id="addTodo_Mdl" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Inserisci Todo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <form id="toDo_Frm">
                                <div class="card-body">
                                <div class="form-group">
                                    <label>Titolo*</label>
                                    <input type="text" class="form-control" id="titolo_Fld" placeholder="Inserisci il titolo" required maxlength="35" name="titolo">
                                </div>
                                <div class="form-group">
                                    <label>Descrizione</label>
                                    <input type="text" class="form-control" id="descrizione_Fld" placeholder="Aggiungi qualche dettaglio .." name="descrizione">
                                </div>
                                <div class="row">
                                    <div class="form-group col-12  ">
                                        <label>Durata prevista</label>
                                        <input type="text" class="form-control" id="durata_Fld" placeholder="" name="durata">
                                        <span class="info small">es. 2h per indicare 2 ore usa h=ore, m=minuti, g=giorni </span>
                                    </div>
                                    <div class="form-group col-6  ">
                                        <label for="">Priorità* </label>
                                        <select class="custom-select form-control-border" id="priority_Fld" required name="priority">
                                        <option value="0">Urgente</option>
                                        <option value="1">Da fare</option>
                                        <option value="2">Può attendere</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6  ">
                                        <label for="">Area* </label>
                                        <select class="custom-select form-control-border" id="sezione_Fld" required name="sezione">
                                        <option value="0">Laboratorio</option>
                                        <option value="1">Spawn</option>
                                        <option value="2">Substrato</option>
                                        <option value="3">Inoculo</option>
                                        <option value="4">Espansione</option>
                                        <option value="5">Fruttificazione</option>
                                        <option value="6">Post produzione</option>
                                        <option value="6">Altro</option>
                                        </select>
                                    </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                <button type="submit" class="btn btn-primary" id="saveTodo_Btn">Aggiungi elemento</button>
                                <button type="submit" class="btn btn-danger" id="abortTodo_Btn">Annulla</button>
                                </div>
                            </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- telemetry-->
             <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-chart-pie mr-1"></i>
                   <%= __('telemetria_Ds') %>
                </h3>
                <div class="card-tools">
                  
                </div>
              </div>
              <div class="card-body">
                <div class="row w-100" id="storageData_Wrp">
                  
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    
  </div>
  
  <%- include ('footer') %>
  <%- include ('jsLoad') %>
  <!-- Mushborg todo Function function -->
  <script src="/dist/toDo_Mushborg.js"></script> 
  <script>
    

  let storage=<%- JSON.stringify(storage) %> 

  console.log(storage)

    async function updateData() {
      $.ajax({
        type: "GET",
        url: "/getStoragesData",
        success: function (response) {
          let storage=response.result
          console.log(storage)
        
      let html=""
      storage.forEach (elem => {
      if (elem.showInHome==1){
        html+=`<div class="card col-md-6 col-sm-12 mx-auto">
                        <h4 class="card-title p-2">
                            <span class="text-bold">
                              ${elem.code_storage} <span class="small">${elem.name_storage}</span>
                              <a href="/storage/storageZoom?storageId=${elem.id}">
                              <i class="fa fa-link fa-xs" aria-hidden="true"></i>
                              </a>
                              
                            </span>
                        </h4>
                        <div class="card-body p-1 row">`
        if (elem.associateSensors.length>0){
            html+=`<div class="row w-100">`
              elem.associateSensors.forEach (sens => {
                console.log(sens)
                html+=`<div class=" col-md-6 col-sm-12 my-1 mx-auto text-center">
                                    <div  class="btn  ${sens.bgcolor} " style="width: 200px;" >
                                      <span class="small text-center w-100">${ sens.label }</span>
                                  <span class="w-100"><i class="${ sens.icon} mx-2 fa-10px" aria-hidden="true"></i>`
                                    if(sens.sensorData[0]){
                                      html+=`${ sens.sensorData[0][sens.fieldName]} ${ sens.postChr }<br><div class="small">${ moment(sens.createdAt).format("DD-MM-YY hh:mm") } </div>`
                                    }else{
                                      html+=`N/D`
                                    }
                                    html+=`</span> 
                                      </div>
                                </div>`
              })
              html+="</div>"
          }
        if (elem.associateSensors.length>0){
          html+=`<div class="col-md-6 col-sm-12">
                <ul class="">
                  <div>Attuatori</div>`
          elem.associateActuators.forEach (act => {
            html+="<li>"
              if (act.inUse==1){
              html+=`<span class="badge badge-success col-2">ON</span>`
              } else {
              html+=`<span class="badge badge-secondary  col-2">OFF</span>`
              }
              html+=`<span class="small text-center w-100 col-6"> ${act.label}`
              if(act.flagClock==1){
                html+=`(dalle: ${act.timeOn} alle: ${act.timeOff})`
              }
              if(act.flagInterval==1){
              html+=`(min: ${act.valMin} max: ${act.valMax})`
              }
              html+="</li>"
          })
              html+="</ul></div>"
        }
        if (elem.associateAllarms.length>0){      
            html+=`<div class="col-md-6 col-sm-12"><ul><div>Allarmi</div>`
              elem.associateAllarms.forEach (all => {
                html+="<li>"
                  if (all.inUse==1){
                    html+=`<span class="badge badge-danger col-2""><i class="fa fa-bell" aria-hidden="true"></i></span>`
                  } else {
                    html+=`<span class="badge badge-success col-2""><i class="fa fa-bell" aria-hidden="true"></i></span>`
                  }
                  html+=`<span class="small text-center w-100"> ${all.label}
                  ( ${all.referenceField} ${all.operator}${all.threshold})</span>`
                  html+="</li>"  
                    })
              html+="</ul></div>"
        }
        html+="</div></div>"
        $("#storageData_Wrp").html(html)
        }
      })
    }
      });
    }
  

    $(document).ready(async function () {
      const socket = io();
      await updateData()
      socket.on('data', data => {
        console.log("socket")
        console.log(data);
        updateData()
      });

      drawTodoList()
      updateData()
    });
  </script>
 <%- include ('closeTag') %>