<%- include ('header') %>
<%- include ('navbar') %>
<%- include ('sidebar') %>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="storage-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">CSV elementi singolo lotto</h1>
          </div>
          
        </div>
      </div>
    </div>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          
            <div class="col-12"  id="tableStorage_Crd" style="">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Seleziona  stampa  </h3>
                  </div>
                  <div class="card-body ">
                    <div class="row">
                      <div class="form-group">
                        <label for=""></label>
                        <select class="form-control" name="" id="">
                          <option value="INOCULUM">Seleziona il tipo di lotto</option>
                          <option value="INOCULUM">Lotti inoculo</option>
                          <option value="SPAWN">Lotti spawn</option>
                          <option value="COLTIVAITON">Lotti coltivazione</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
        
      </div>
    </section>
    
  </div>
  
  
  <%- include ('footer') %>
  <%- include ('jsLoad') %>
  <script>
    $(document).ready(async function () {
    
    });

  </script>
  <%- include ('closeTag') %>
  