<%- include ('header') %>
<%- include ('navbar') %>
<%- include ('sidebar') %>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="storage-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Gestione magazzini
            <!-- <button class="btn btn-xs btn-primary" id="modStorage_Btn" style="display: none;"><i class="fas fa-plus"></i> Modifca storage</button>
              <button type="button" class="btn btn-xs btn-primary" id="newStorage_Btn"><i class="fas fa-plus"></i> Nuova storage</button> -->
              <button class="btn btn-xs btn-primary" id="backToMain_Btn" style="display: none;"> <i class="fas fa-long-arrow-alt-left"></i> Torna a elenco storage</button>
            </h1>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12"  id="tableStorage_Crd" style="display: none;">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Eleenco magazzini</h3>
                    <div class="card-tools">
                      <input type="text" name="datetimes"  id="daterange" />
                    
                    </div>
                  </div>
                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th></th>
                          <th>ID</th>
                          <th>Codice</th>
                          <th>Nom3</th>
                          <th>Indirizzo</th>
                        </tr>
                      </thead>
                      <tbody id="telemetry_Tbl">
                       
                        <% storages.forEach(function(dt){ %>
                            <tr>
                              <td style="width: 80px;">
                                    <button type="button" name="" id="showBtn_<%= dt.id %>" 
                                      class="btn btn-primary btn-xs showStorage" style="width:25px">
                                        <i class="fa fa-eye fa-sm" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td style="width: 80px;"><%= dt.id %></td>
                                <td><%= dt.code_storage %></td>
                                <td><%= dt.name_storage %></td>
                                <td><%- dt.data_storage %></td>
                                
                              </tr>
                          <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>
  </div>
</div>



<%- include ('footer') %>
  <%- include ('jsLoad') %>
  <script>
    const socket = io('http://localhost:3000');

    let storages = '<%- JSON.stringify(storages) %>'
    let storageData=JSON.parse(storages)
    let redirectId= <%- JSON.stringify( redirectId) %>
    let idStorage=redirectId
    
   function drawTable() {
      $("#tableStorage_Crd").show();
      $("#showStorage_Crd").hide();
      $("#backToMain_Btn").hide()

    }

    $(document).ready(async function () {
    
        await drawTable()
        
      $(document).on("click",".showStorage", function (e) { 
        e.preventDefault();
        let id=$(this).attr("id").split("_")[1]
         window.location='storage/storageZoom?storageId='+id
      });
    
    });


  </script>
  <%- include ('closeTag') %>
  