<%- include ('../header') %>
<%- include ('../navbar') %>
<%- include ('../sidebar') %>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="mushElement-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Gestione <span id="titoloFiltro"></span>   
            <!-- <button class="btn btn-xs btn-primary" id="modMushElement_Btn" style="display: none;"><i class="fas fa-plus"></i> Modifca lotto</button>
              <button type="button" class="btn btn-xs btn-primary" id="newMushElement_Btn"><i class="fas fa-plus"></i> Nuova lotto</button> -->
             
              <!-- <button class="btn btn-xs btn-primary" id="backToMain_Btn"> <i class="fas fa-long-arrow-alt-left"></i> Torna all'elenco</button>
              <button class="btn btn-xs btn-primary"  onclick="history.back()"> <i class="fas fa-long-arrow-alt-left"></i> Torna all'elenco</button> -->
            </h1>
          </div>
          
        </div>
      </div>
    </div>
    <section class="content">
      <div class="mushElement-fluid">
      <div class="card w-100" id="showMushElement_Crd">
        <div class="row m-3">
          <div class="col-12">
            <!-- Visual -->
            <div id="showElement_Div">
              <h2>  <%= mushElement.element_code %>
                <% if(mushElement.active!=0) { %>
                
              <button type="button" name="" id="modElement_Btn" class="btn btn-primary btn-xs mx-2">Modifica elemento</button>
              <button type="button" name="" id="delElement_Btn" class="btn btn-danger btn-xs mx-2">Elimina elemento</button>
              
                <% if((filterCategory=="CULTIVATION")&&(mushElement.stage==1)){ %>
                  <button type="button" name="" id="fructElement_Btn" class="btn btn-success btn-xs mx-2">Metti in fruttificazione</button>
              <% } %>
              <button type="button" name="" id="printCode_Btn" class="btn btn-danger btn-xs mx-2">Stampa codice</button>
              <% } else {%>
                <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> <span class="small"> <%= mushElement.pickReasonDesc %> <%= mushElement.pick_date %> </span>
              <% }%>
            </h2>
              <div class="row w-100">
              <div class="col">
                <div class="row w-100">
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Codice </dt>
                      <dd id="element_code_Show" class="elementText"> <%= mushElement.element_code %></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Desc. coltivazione</dt>
                      <dd id="cultivation_info_Show" class="elementText"><%= mushElement.cultivation_info%></dd>
                    </dl>
                  </div>
                  <!-- <div class="col-md-3 col-sm-6">
                    <dl>
                      <dt>Substrato</dt>
                      <dd id="substrate_info_Show" class="elementText"><%#mushElement.substrate_info%></dd>
                    </dl>
                  </div> -->
                  <% if(filterCategory=="CULTIVATION"){ %>
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Stage </dt>
                      <dd id="stage_Show" class="elementText"> <%= mushElement.stageDesc %></dd>
                    </dl>
                  </div>
                  <% }  %>
                </div>
                <div class="row w-100">
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Data inizio</dt>
                      <dd id="load_date_Show" class="elementText"><%= mushElement.load_date %></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Maturazione prevista:
                      </dt>
                      <dd id="expected_maturation_date_Show" class="elementText"><%= mushElement.expected_maturation_date %></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Maturazione effettiva:</dt>
                      <dd id="real_maturation_date_Show" class="elementText"><%= mushElement.real_maturation_date %></dd>
                    </dl>
                  </div>
                  <% if(filterCategory=="CULTIVATION"){ %>
                    <div class="col-md-2 col-sm-6">
                      <dl>
                        <dt>Fruttificazione prevista:</dt>
                        <dd id="expeted_fructification_date_Show" class="elementText"><%= mushElement.expected_fructification_date %></dd>
                      </dl>
                    </div>
                    <div class="col-md-2 col-sm-6">
                      <dl>
                        <dt>Fruttificazione effettiva:</dt>
                        <dd id="real_fructification_date_Show" class="elementText"><%= mushElement.real_fructification_date %></dd>
                      </dl>
                    </div>
                  <% } %>
                </div>
                <div class="row w-100">
                  <!-- <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Quantità</dt>
                      <dd id="qt_Show" class="elementText"><%# mushElement.qt %></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Contenitore</dt>
                      <dd id="contenitore_Show" class="elementText"><%# mushElement.contenitore_info %></dd>
                    </dl>
                  </div> -->
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Stato</dt>
                      <dd id="stato_Show" class="elementText"><%= mushElement.stato %></dd>
                    </dl>
                  </div>
                  <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Acquistato</dt>
                          <dd id="purchased" class="elementText"><%= mushElement.purchased %></dd>
                        </dl>
                      </div>
                </div>
                <% if(mushElement.active==0) { %>
                <div class="row w-100">
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Data prelievo</dt>
                      <dd id="pick_date_Show" class="elementText"><%=mushElement.pick_date %></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Motivo prelievo</dt>
                      <dd id="pick_reason_Show" class="elementText"><%=mushElement.pickReasonDesc %></dd>
                    </dl>
                  </div>
                </div>
                <% }%>
                <div class="row w-100">
                  <div class="col-md-2 col-sm-6">
                    <dl>
                      <dt>Note</dt>
                      <dd id="note_Show" class="elementText"><%=mushElement.note %></dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!-- Modify -->
            <div id="modelement_Div" style="display: none;">
              <h2>Modifica <%= mushElement.element_code %></h2>
              <div class="row w-100">
                <form id="updateMushElement_Frm" style="width: 100%;">
                  <input type="hidden" name="idMushElement" value="<%= mushElement.id %>">
                  <div class="col">
                    <div class="row w-100">
                      <div class="col-md-2 col-sm-6">
                        <dl>
                          <dt>Codice </dt>
                          <dd id="element_code_Show" class="elementText"> <%= mushElement.element_code %></dd>
                        </dl>
                      </div>
                      <div class="col-md-2 col-sm-6">
                        <dl>
                          <dt>Desc. coltivazione</dt>
                          <dd id="cultivation_info_Show" class="elementText"><%= mushElement.cultivation_info%></dd>
                        </dl>
                      </div>

                      <!-- <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Substrato</dt>
                          <dd id="substrate_info_Show" class="elementText"><%#mushElement.substrate_info%></dd>
                        </dl>
                      </div> -->
                      <% if(filterCategory=="CULTIVATION"){ %>
                      <div class="col-md-2 col-sm-6">
                        <dl>
                          <dt>Stage </dt>
                          <dd id="stage_Edit" class="elementText"> 
                            <div class="form-group">
                              <select  class="form-control form-control-sm form-control-minimal" id="stageDD" name="stage">
                                <option value="">--</option>
                              <% for (let i = 0; i < stageDD.length; i++) {%>
                                <option value="<%=stageDD[i].val %>"><%= stageDD[i].txt%></option>
                              <%} %>
                              </select>
                          </dd>
                        </dl>
                      </div>
                      <% }  %>
                    </div>
                    <div class="row w-100">
                      <div class="col-md-2 col-sm-6">
                        <dl>
                          <dt>Data inizio</dt>
                          <dd id="load_date_Edit" class="elementText"><%= mushElement.load_date %></dd>
                        </dl>
                      </div>
                      <div class="col-md-2 col-sm-6">
                        <dl>
                          <dt>Maturazione prevista:</dt>
                          <dd>
                            <div class="col" id="setExpectedMatDate_Fld" >
                              <div class="form-group">
                                <div class="input-group date" id="setExpectedMatDate_DT" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minimal" 
                                        data-target="#setExpectedMatDate_DT " name="expectedMatDate" id="expectedMatDate" 
                                        value=<%= mushElement.expected_maturation_date %>/>
                                  <div class="input-group-append" data-target="#setExpectedMatDate_DT " data-toggle="datetimepicker">
                                    <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                              </div>
                          </dd>
                          </dl>
                      </div>
                      <div class="col-md-2 col-sm-6">
                        <dl>
                          <dt>Maturazione effettiva:</dt>
                          <dd id="real_maturation_date_Edit" class="elementText">
                            <div class="col" id="setRealMatDate_Fld" >
                              <div class="form-group">
                                <div class="input-group date" id="setRealMatDate_DT" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minimal" data-target="#setRealMatDate_DT " 
                                        name="realMatDate" id="realMatDate" value=<%= mushElement.real_maturation_date %>/>
                                  <div class="input-group-append" data-target="#setRealMatDate_DT " data-toggle="datetimepicker">
                                    <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                            </div>
                            </dd>
                        </dl>
                      </div>
                      <% if(filterCategory=="CULTIVATION"){ %>
                      <div class="col-md-2 col-sm-6">
                        <dl>
                          <dt>Fruttificazione prevista:
                          </dt>
                          <dd id="expeted_fructification_date_Edit" class="elementText">
                            <div class="col" id="setExpectedFructDate_Fld" >
                              <div class="form-group">
                                <div class="input-group date" id="setExpectedFructDate_DT" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minimal" data-target="#setExpectedFructDate_DT " 
                                        name="expectedFructDate" id="expectedFructDate" value="<%= mushElement.expected_fructification_date %>"/>
                                  <div class="input-group-append" data-target="#setExpectedFructDate_DT " data-toggle="datetimepicker">
                                    <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                              </div>
                              </dd>
                        </dl>
                      </div>
                      <div class="col-md-2 col-sm-6">
                        <dl>
                          <dt>Fruttificazione effettiva: </dt>

                          <dd id="real_fructification_date_Show" class="elementText">
                            <div class="col" id="setRealFructDate_Fld" >
                              <div class="form-group">
                                <div class="input-group date" id="setRealFructDate_DT" data-target-input="nearest">
                                  <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minimal" data-target="#setRealFructDate_DT " 
                                          name="realFructDate" id="realFructDate" value="<%= mushElement.real_fructification_date %>"/>
                                  <div class="input-group-append" data-target="#setRealFructDate_DT " data-toggle="datetimepicker">
                                    <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                                  </div>
                                </div>
                              </div>
                            </dd>
                        </dl>
                      </div>
                      <% } %>
                    </div>
                    <div class="row w-100">
                      
                      <!-- <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Quantità</dt>
                          <dd id="qt_Show" class="elementText"><%= mushElement.qt %></dd>
                        </dl>
                      </div>
                      <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Contenitore</dt>
                          <dd id="contenitore_Show" class="elementText"><%= mushElement.contenitore_info %></dd>
                        </dl>
                      </div> -->

                      <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Stato</dt>
                          <dd id="stato_Show" class="elementText"><%= mushElement.stato %></dd>
                        </dl>
                      </div>
                      <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Acquistato</dt>
                          <dd id="purchased" class="elementText"><%= mushElement.purchased %></dd>
                        </dl>
                      </div>
                    </div>
                    
                    <div class="row w-100">
                      <div class="col-md-4 col-sm-6">
                        <dl>
                          <dt>Note</dt>
                          <dd id="note_Edit" class="elementText">
                            <div class="form-group">
                              <textarea name="note" id="note_Fld" rows="2" cols="20"
                                    class="form-control form-control-sm form-control-minimal"></textarea>
                          </dd>
                        </dl>
                      </div>
                    </div>
                    <div class="row w-100">
                      <div class="col-12 text-center">
                    <button type="button" class="btn btn-xs btn-primary" id="saveElement_Btn">Salva le modifiche</button>
                    <button type="button" class="btn btn-xs btn-secondary" id="abortElement_Btn">Annulla le modifiche</button>

                      </div>
                    </div>
                  </div>
              </form>
            </div>
            </div>
          </div>
          <!--  Spacer -->
          <div class="w-100 border my-3"></div>
          
          <!-- Card Note -->
          <div class="card w-100 collapsed-card">
            <div class="card-header"  data-card-widget="collapse">
              <h3 class="card-title">Annotazioni elemento
              <button class="btn btn-xs btn-primary mx-1" <% if(mushElement.active==0) { %> disabled <% }%>id="addMushElementNote_Btn"> 
              <i class="fas fa-plus"></i> 
                Aggiungi una nota
              </button>
              </h3>
              <div class="card-tools">
                <!-- <div class="btn-group">
                      <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
                        <i class="fas fa-bars"></i>
                      </button>
                      <div class="dropdown-menu" role="menu" style="">
                        <a href="#" class="dropdown-item">Add new note</a>
                      </div>
                    </div> -->
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row w-100 m-2">
                
                <!-- Table gestione note -->
                <div class="table-responsive">
                  <table class=" table table-striped table-bordered table-sm " id="mushElementNote_Tbl" style="width: 100%;">
                    <thead>
                      <tr>
                        <th style="width: 45px; "></th>
                        <th>check_date</th>
                        <th>stato</th>
                        <th>pict</th>
                        <th>note</th>
                      </tr>
                    </thead>
                    <tbody id="mushElementNote_Tblb">

                    </tbody>
                  </table>
                </div>

                </div>
            </div>
          </div>
          <!-- Raccolto -->
          <div class="card w-100 collapsed-card" id="harvest_Crd">
            <div class="card-header " data-card-widget="collapse" > 
              <!--  data-card-widget="collapse" -->
              <h3 class="card-title">Raccolto elemento: <span id="totalWeight"></span>
                
              </h3>
              <div class="card-tools">
                <% if(filterCategory=="CULTIVATION"){%> 
              <button class="btn btn-xs btn-primary mx-1" <% if(mushElement.active==0) { %> disabled <% }%>id="addHarvest_Btn"> 
              <i class="fas fa-hand-holding-heart"></i>
                Aggiungi raccolto
              </button><%}%>
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row w-100 m-2">
                
                <!-- Table gestione note -->
                <div class="table-responsive">
                  <table class=" table table-striped table-bordered table-sm " id="mushElementHarvest_Tbl" style="width: 100%;">
                    <thead>
                      <tr>
                        <th style="width: 45px; "></th>
                        <th>Dt raccolto</th>
                        <th>Qt (g)</th>
                        <th>Note</th>
                      </tr>
                    </thead>
                    <tbody id="mushElementHarvest_Tblb">

                    </tbody>
                  </table>
                </div>

                </div>
            </div>
          </div>
          <!-- Movimentazione -->
           <div class="card w-100 collapsed-card">
            <div class="card-header"  data-card-widget="collapse">
              <h3 class="card-title">Movimentazioni
              
              </h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row w-100 m-2">
                
                <!-- Table gestione note -->
                <div class="table-responsive">
                  <table class=" table table-striped table-bordered table-sm " id="mushElementMovimentation_Tbl" style="width: 100%;">
                    <thead>
                      <tr>
                        <th >Magazzino</th>
                        <th>Dal</th>
                        <th>Al</th>
                        <th style="width: 50px;"></th>
                      </tr>
                    </thead>
                    <tbody id="mushElementMovimentation_Tblb">

                    </tbody>
                  </table>
                </div>

                </div>
            </div>
          </div>
          <!--  Card Dati lotto-->
          <div class="card w-100 collapsed-card">
            <div class="card-header"  data-card-widget="collapse">
              <h3 class="card-title">Dati lotto</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row w-100 m-2">
                <div class="col">
                  <div class="row w-100">
                    <div class="col-md-3 col-sm-6">
                      <dl>
                        <dt>Nome </dt>
                        <dd id="lottoName">
                        </dd>
                      </dl>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <dl>
                        <dt>Codice </dt>
                        <dd id="lottoCode"></dd>
                      </dl>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <dl>
                        <dt>Strain</dt>
                        <dd id="lottoStrain"></dd>
                      </dl>
                    </div>
                    <div class="col-md-1 col-sm-6">
                      <dl>
                        <dt>Acquistato</dt>
                        <dd id="lottoPurchased"></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row w-100">
                    <div class="col-md-7 col-sm-6">
                      <dl>
                        <dt>Contenitore</dt>
                        <dd id="lottoContainer"></dd>
                      </dl>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <dl>
                        <dt>Quantità contenitori</dt>
                        <dd id="lottoNContainer"></dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row w-100">
                    <div class="col-md-3 col-sm-6">
                      <dl>
                        <dt>Data scadenza</dt>
                        <dd id="lottoExpDate"></dd>
                      </dl>
                    </div>
                    <div class="col-md-2 col-sm-6">
                      <dl>
                        <dt>Qt substrato in kg</dt>
                        <dd id="lottoSubQt"></dd>
                      </dl>
                    </div>

                    <div class="col-md-2 col-sm-6">
                      <dl>
                        <dt>Qt spawn in kg</dt>
                        <dd id="lottoSpnQt">-</dd>
                      </dl>
                    </div>
                    <div class="col-md-2 col-sm-6">
                      <dl>
                        <dt>% inoculo</dt>
                        <dd id="lottoPercInoc">-</dd>
                      </dl>
                    </div>
                  </div>
                  <hr>
                  <div class="row w-100">
                    <div class="h5 ">
                      Dati substrato
                    </div>
                    <div class="row w-100">
                      <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Nome substrato</dt>
                          <dd id="n_container_Show"><%= parentElement.substrate.name_substrate%></dd>
                        </dl>
                        
                      </div>
                      <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Codice substrato</dt>
                          <dd id="n_container_Show"><%= parentElement.substrate.cod_substrate%></dd>
                        </dl>
                      </div>
                      <div class="col-md-3 col-sm-6">
                        <dl>
                          <dt>Sub-codice substrato</dt>
                          <dd id="n_container_Show"><%= parentElement.substrate.sub_code%></dd>
                        </dl>
                      </div>
                      </div>
                      <div class="row w-100">
                        <div class="col-md-3 col-sm-6">
                          <dl>
                            <dt>Codice ricetta</dt>
                            <dd id="n_container_Show"><%= parentElement.substrate.recipe.cod_recipe%></dd>
                          </dl>
                        </div>
                        <div class="col-md-3 col-sm-6">
                          <dl>
                            <dt>Nome ricetta</dt>
                            <dd id="n_container_Show"><%= parentElement.substrate.recipe.recipe_name%></dd>
                          </dl>
                        </div>
                      </div>
                      <div class="row w-100">
                        <table class="table table-sm">
                          <thead>
                            <tr>
                              <th>Nome materiale</th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                              
                            <% parentElement.substrate.substrateElements.forEach (elem => {%>
                            <tr>
                                <td><%= elem.rawMaterial.material_name %></td>    
                                <td></td>               
                                <td></td>               
                            </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    
                  </div>
                  <% if (parentElement.purchased==0){%>
                    <div class="row w-100">
                    <div class="h5 ">
                      Inoculi/seed
                    </div>
                    <div class="row w-100">
                      <table class="table table-sm">
                        <thead>
                          <tr>
                            <th>Codice</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% seeds.forEach (elem => {%>
                            <tr>
                            <td scope="row">
                              <a href="/mushElement/singleMushElement?elementCode=<%= elem.mushElementCode  %>" target="_blank">
                                <%= elem.mushElementCode  %>
                              </a>
                              
                            </td>
                            
                          </tr>
                      <% }) %>
                          
                          
                        </tbody>
                      </table>
                      
                    </div>
                    </div>
                  <% } %>
                  
                </div>
              </div>
              </div>
          <!-- Dati strain -->
          <div class="card w-100 collapsed-card">
            <div class="card-header"  data-card-widget="collapse">
              <h3 class="card-title">Dati strain</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
              </div>
            </div>
            <div class="card-body">
              <div class="row w-100 m-2">
                  <div class="col-md-2 col-sm-12 ">    
                    <dl>
                      <dt>Codice strain</dt>
                      <dd id="strain_name_Show" ><%= parentElement.strain.code_strain%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-12">
                    <dl>
                      <dt>Descrizione strain </dt>
                      <dd id="cod_strain_Show" ><%= parentElement.strain.description%></dd>
                    </dl>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <dl>
                      <dt>Specie</dt>
                      <dd id="species_Show" ><%= parentElement.strain.species%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-12">
                    <dl>
                      <dt>Generazione</dt>
                      <dd id="generation_Show" ><%= parentElement.strain.generation%></dd>
                    </dl>
                  </div>
                </div>
                <div class="row">
                  <span class="col-12 text-bold border-top border-bottom"> Propagazione</span>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Temperatura</dt>
                      <dd id="incubation_temp_Show" ><%= parentElement.strain.incubation_temp%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Umidità</dt>
                      <dd id="incubation_hum_Show" ><%= parentElement.strain.incubation_hum%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Durata</dt>
                      <dd id="incubation_len_Show" ><%= parentElement.strain.incubation_len%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Co2</dt>
                      <dd id="incubation_co2_Show" ><%= parentElement.strain.incubation_co2%></dd>
                    </dl>
                  </div>
                  <div class="col-md-4 col-sm-6 ">    
                    <dl>
                      <dt>Note</dt>
                      <dd id="incubation_note_Show" ><%= parentElement.strain.incubation_note%></dd>
                    </dl>
                  </div>
                </div>
                <div class="row">
                  <span class="col-12 text-bold border-top border-bottom"> Fruttificazione</span>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Temperatura</dt>
                      <dd id="fructification_temp_Show" ><%= parentElement.strain.fructification_temp%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Umidità</dt>
                      <dd id="fructification_hum_Show" ><%= parentElement.strain.fructification_hum%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Durata</dt>
                      <dd id="fructification_len_Show" ><%= parentElement.strain.fructification_len%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Co2</dt>
                      <dd id="fructification_co2_Show" ><%= parentElement.strain.fructification_co2%></dd>
                    </dl>
                  </div>
                  <div class="col-md-4 col-sm-6 ">    
                    <dl>
                      <dt>Note</dt>
                      <dd id="fructification_note_Show" ><%= parentElement.strain.fructification_note%></dd>
                    </dl>
                  </div>
                </div>

                <div class="row">
                  <span class="col-12 text-bold border-bottom border-top"> Coltivazione</span>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Luce</dt>
                      <dd id="light_temp_Show" ><%= parentElement.strain.fructification_hum%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Outdoor</dt>
                      <dd id="outdoor_Show" ><%= parentElement.strain.outdoor%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Indoor</dt>
                      <dd id="indoor_Show" ><%= parentElement.strain.indoor%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Substrati </dt>
                      <dd id="liked_substrate_Show" ><%= parentElement.strain.liked_substrate%></dd>
                    </dl>
                  </div>
                </div>
                <div class="row">
                  <span class="col-12 text-bold border-bottom border-top"> Fornitura</span>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Acquistato il:</dt>
                      <dd id="buyed_Show" ><%= parentElement.strain.buyed%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Qt.</dt>
                      <dd id="qt_Show" ><%= parentElement.strain.qt%></dd>
                    </dl>
                  </div>
                  <div class="col-md-2 col-sm-6 ">    
                    <dl>
                      <dt>Fornitore</dt>
                      <dd id="supplier_Show" ><%= parentElement.strain.supplierId%></dd>
                    </dl>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <dl>
                      <dt>Note</dt>
                      <dd id="note_Show" ><%= parentElement.strain.note%></dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
          <div class="row">
            <div>
  
</div>
          </div>
</section>
</div>

<!-- Modal insert note -->
<div class="modal fade" id="insertNote_Mdl" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Inserimento annotazione</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row w-100">
          <div class="col-12">
            <!-- Form inserimento nota -->
          <form class="form w-100" enctype="multipart/form-data" id="mushElementNote_Form" >
            <input type="hidden" class="form-control" name="idMushElementNote" id="idMushElementNote_Fld" tp="hidden" value="<%= mushElement.id %>">
            <input type="hidden" class="form-control" name="filterCategoryNote" id="filterCategoryNote_Fld" tp="hidden" value="<%= filterCategory %>">
            <div class="row w-100">
              <div class="col-md-6">
                <dl>
                  <dt>Data controllo</dt>
                  <dd class="mushElementNoteForm">
                    <div class="form-group">
                      <div class="input-group date" id="check_date_DT" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minimal" data-target="#check_date_DT " name="check_date">
                        <div class="input-group-append" data-target="#check_date_DT " data-toggle="datetimepicker">
                          <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>
              <div class="col-6">
                <dl>
                  <dt>Stato elemento</dt>
                  <dd class="mushElementNoteForm">
                    <div class="form-group">
                      <select tp="selectField" class="form-control form-control-sm form-control-minimal" name="statoMushElementNote" id="statoMushElementNote_Fld" required="">
                        <option value="">Seleziona lo stato</option>
                        <option value="Buono">Buono</option>
                        <option value="Cattivo">Cattivo</option>
                        <option value="Contaminato">Contaminato</option>
                        <option value="In osservazione">In osservazione</option>
                      </select>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-12">
                <dl>
                  <dt>Note</dt>
                  <dd class="mushElementNoteForm">
                    <div class="form-group">
                      <textarea class="form-control" name="noteMushElementNote" id="noteMushElementNote_Fld"></textarea>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-md-12">
                <dl>
                  <dt>Picture</dt>
                  <div class="input-group mb-3">
  <div class="custom-file">
    <input type="file" class="custom-file-input" name="imgMushElementNote" id="imgMushElementNote">
    <label class="custom-file-label" for="imgMushElementNote" aria-describedby="imgMushElementNoteAddon02" >
      Seleziona immagine
    </label>
  </div>
</div>

                  <!-- <dd class="mushElementNoteForm">
                    <div class="form-group">
                      <div class="form-group">
                        <input type="file" class="form-control-file" name="imgMushElementNote" id="imgMushElementNote">
                      </div>
                    </div>
                  </dd> -->
                </dl>
              </div>
            </div>  
              
              
            </div>
            <button class="btn btn-xs btn-primary mx-1" id="saveMushElementNote_Btn"> <i class="fas fa-plus"></i> Salva nota</button>
            <button class="btn btn-xs btn-secondary mx-1" id="abortMushElementNote_Btn"> <i class="fas fa-plus"></i> Annulla inserimento</button>
          </form>
          </div>
        </div>
      </div>
      
    </div>

</div>
<!-- Pick modal -->
<div class="modal fade" id="pick_Mdl" tabindex="-1" aria-labelledby="pick_MdlLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pick_MdlLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="pick_Frm">
          <input type="hidden" name="idMushElement" value="<%= mushElement.id %>">
          <div class="row w-100">
                    <div class="col-6">
                      <dl>
                        <dt>Data prelievo*</dt>
                        <dd id="pick_date_Edit" class="elementText">
                          <div class="col" id="pickDate_Fld" >
                            <div class="form-group">
                              <div class="input-group date" id="pickDate_DT" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minimal" data-target="#pickDate_DT " 
                                        name="pickDate" id="pickDate" value="" required>
                                <div class="input-group-append" data-target="#pickDate_DT " data-toggle="datetimepicker">
                                  <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                                </div>
                              </div>
                            </div>
                          </dd>
                      </dl>
                    </div>
                    <div class="col-6">
                      <dl>
                        <dt>Motivo prelievo*</dt>
                        <dd id="pick_reason_Edit" class="elementText"> 
                          <div class="form-group">
                            <select  class="form-control form-control-sm form-control-minimal" id="ppickReason" name="pickReason" required>
                              <option value="">--</option>
                            <% for (let i = 0; i < pickReasonDD.length; i++) {%>
                              <option value="<%=pickReasonDD[i].val %>"><%= pickReasonDD[i].txt%></option>
                            <%} %>
                            </select>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row w-100">
                    <div class="col">
                      <div class="form-group">
                      <label for="">Note prelievo</label>
                      <textarea class="form-control" name="pickNote" id="pickNote" rows="3"></textarea>
                    </div>
                    </div>
                    
                </div>
                <div class="row w-100">
                  <div class="col">
                    <div class="form-check form-check-inline text-danger">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="deleteElem" id="deleteElem" value="1"> Vuoi eliminare definitivamente l'elemento?
                    </label>
                  </div>
                  </div>
                </div>
                <div class="row w-100 mt-2">
                  <div class="alert alert-danger w-100" role="alert">
                    Dopo il prelievo l'elemento non sarà più modificabile.
                  </div>
                  <button type="button" class="btn btn-primary btn-xs" id="pickDelete_Btn">Salva prelievo</button>
                </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal insert raccolto -->
<div class="modal fade" id="insertHarvest_Mdl" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Inserimento raccolto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row w-100">
          <div class="col-12">
            <!-- Form inserimento raccolto -->
          <form class="form w-100" enctype="multipart/form-data" id="mushElementHarvest_Form" >
            <input type="hidden" class="form-control" name="idMushElementHarvest"  tp="hidden" value="<%= mushElement.id %>">
            <input type="hidden" class="form-control" name="filterCategoryHarvest"  tp="hidden" value="<%= filterCategory %>">
            <div class="row w-100">
              <div class="col-md-6">
                <dl>
                  <dt>Data raccolto</dt>
                  <dd class="mushElementNoteForm">
                    <div class="form-group">
                      <div class="input-group date" id="harvest_date_DT" data-target-input="nearest">
                        <input type="text" 
                        class="form-control datetimepicker-input form-control-sm form-control-minimal" 
                        data-target="#harvest_date_DT " name="harvest_date"
                        required >
                        <div class="input-group-append" data-target="#harvest_date_DT" data-toggle="datetimepicker">
                          <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                        </div>
                      </div>
                    </div>
                  </dd>
                </dl>
              </div>
              <div class="col-6">
                <dl>
                  <dt>Peso</dt>
                  <dd class="mushElementNoteForm">
                    <div class="form-group">
                      <input type="number"
                        min="0"
                        step="0"
                        class="form-control" name="harvest_weight" id="harvest_weight"  
                        placeholder="Inserisci peso in grammi"
                        required >
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row w-100">
              <div class="col-12">
                <dl>
                  <dt>Note</dt>
                  <dd class="mushElementNoteForm">
                    <div class="form-group">
                      <textarea class="form-control" name="harvest_note" id="harvest_note_Fld"></textarea>
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
              
              
            </div>
            <button class="btn btn-xs btn-primary mx-1" id="saveHarvest_Btn"> <i class="fas fa-plus"></i> Salva nota</button>
            <button class="btn btn-xs btn-secondary mx-1" id="abortHarvest_Btn"> <i class="fas fa-plus"></i> Annulla inserimento</button>
          </form>
          </div>
        </div>
      </div>
      
    </div>

</div>
<!-- Modal QrCode -->
<div class="modal fade" id="qrCode_Mdl" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Codice qr</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="col-12" id="qrCode_Img">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal graph -->
 <div class="modal fade" id="sensorDataGraph_Mdl" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sensor data graph</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <canvas id="sensorChart"></canvas>
      </div>
    </div>
  </div>
 </div>
<%- include ('../footer') %>
<%- include ('../jsLoad') %>
<script>  

 let mushElement =<%- JSON.stringify(mushElement) %> 
 let stageDD =<%- JSON.stringify(stageDD) %> 
 let parentElement = <%- JSON.stringify( parentElement) %>
let filterCategory="<%= filterCategory %>"
// console.log(filterCategory)
// console.log(parentElement)
// console.log(mushElement)
let storages
let tableMushElement
let idMushElement=mushElement.id
let tableSpawn
let idSpawn
let spawnElementTempId=0
let letterElement="" // Identifica postfisso della cartella immagini
const sensorChartCtx = document.getElementById('sensorChart');


//Draw Element NOTE table
async function drawElementNote(idMushElement){
  console.log(idMushElement)
  $.ajax({
    type: "GET",
    url: "/mushElement/getMushElementNote?idElement="+mushElement.id+"&filterCategoryNote="+mushElement.type,
    success: function (response) {
      console.log("response")
      console.log(response)
      let html=""
      if(response.mushElementNotes.length>0){
        for (let i = 0; i < response.mushElementNotes.length; i++) {
          const el = response.mushElementNotes[i];
          html+=`<tr>
              <td>
                <button type="button" name="" id="${el.id}" 
              class="btn btn-danger btn-xs delMushElementNote" style="width:25px"
              idMushElementNote="${el.id}" idMushElement="${el.mushElementId}">
                <i class="fa fa-trash fa-sm z\" aria-hidden="true"></i>
            </button></td>`
          html+=` <td scope="row">${moment(el.check_date).format("DD-MM-YYYY HH:mm")}</td>
                        <td>${el.stato}</td>
                        <td>`
          if(el.pict){
            html+=`
            <a href="../imgMushEleNote/${el.mushElementId}${letterElement}/${el.pict}" data-toggle="lightbox" data-title="sample 6 - white">
                        <img src="../imgMushEleNote/${el.mushElementId}${letterElement}/${el.pict}" class="img-fluid "  style="height:100px" alt="">
                      </a>
            `
          }
          html+= ` </td>
                        <td>${el.note?el.note:"-"}</td>
                      </tr>`
        }
      } else {
        html=`<tr >
                <td class="bg-danger text-center" colspan="5"> Non sono presenti note per questo elemento</td>
              </tr>`
      }
      $("#idMushElementNote_Fld").val(mushElement.id)
      $("#mushElementNote_Tblb").html(html)
      $("#mushElementNote_Tbl").show()
      if(mushElement.active==0){
      $(".delMushElementNote").attr('disabled','true');

      }
    }})
}

//Draw Element HARVEST table
async function drawElementHarvest(mushElementHarvest){
  // console.log("mushElementHarvest")
  // console.log(mushElementHarvest)
  let html=""
  let toalWeight=0
    if((mushElementHarvest!=null)&&(mushElementHarvest.length>0)){
        for (let i = 0; i < mushElementHarvest.length; i++) {
          const el = mushElementHarvest[i];
          toalWeight=toalWeight+el.harvest_weight
          html+=`<tr>
              <td>
                <button type="button" name="" id="${el.id}" 
              class="btn btn-danger btn-xs delMushElementHarvest" style="width:25px"
              idMushElementHarvest="${el.id}" idMushElement="${el.mushElementId}">
                <i class="fa fa-trash fa-sm " aria-hidden="true"></i>
            </button></td>`
          html+=` <td scope="row" class="col-2">${moment(el.harvest_date).format("DD-MM-YYYY HH:mm")}</td>
                      
                        <td class="col-2">${el.harvest_weight} g</td>
                         <td>${el.note}</td>
                      </tr>`

        }
      } else {
        html=`<tr >
                <td class="bg-danger text-center" colspan="5"> Non sono presenti note per questo elemento</td>
              </tr>`
      }
     // $("#idMushElementNote_Fld").val(idMushElement)
      $("#mushElementHarvest_Tblb").html(html)
      $("#mushElementHarvest_Tbl").show()
      $("#totalWeight").html(toalWeight+" g")
      if(mushElement.active==0){
        $(".delMushElementHarvest").attr('disabled','true');
      }
    }

// Get movimentation
async function getMovimentation(){
  $.ajax({
    type: "GET",
    url: "/mushElement/getMoviementation?id="+mushElement.id+"&filterCategory="+filterCategory,
    success: function (response) {
      console.log(response)
      let storageStory=response.storageStory
      storages=response.storages
      let html=""
      for (let i = 0; i < storageStory.length; i++) {
        html+=`<tr>`
        for (let y = 0; y < storages.length; y++) {
          const el = storages[y];
          if (el.id==storageStory[i].storageId){
            html+=`<td>${el.code_storage} ${el.name_storage}</td>`
          }
        }
        html+=`<td>${moment(storageStory[i].from).format("DD-MM-YY HH:mm").toString()}</td>
              <td>${moment(storageStory[i].to).format("DD-MM-YY HH:mm").toString()}</td>
              <td>
                <button class="btn-primary btn-xs drawDataGraph"
                  storageId="${storageStory[i].storageId}" from="${storageStory[i].from}" to="${storageStory[i].to}">
                  <i class="fas fa-chart-line"></i></button>
              </td>`
      }
      $("#mushElementMovimentation_Tblb").html(html)
    }
  });
}

// get data sensor
async function getSensorData(storageId,from,to,sampleSize=100) {
  let sensorData
  await $.ajax({
    type: "GET",
    url: "/mushElement/getSensorData",
    data:{
      storageId:storageId,from:from,to:to,sampleSize:sampleSize
    },
    success: function (response) {
      // Dati per grafico
     sensorData=response.sensorData
    }
  });
  return sensorData
}

async function drawGraph(label,dataSet) {
  console.log(dataSet)
  console.log(label)
  let sensorChart = new Chart(sensorChartCtx, {
        type: 'line',
        data: {
          labels:label,
          datasets:dataSet
        },
        options: {
          plugins: {
            legend: {
              position: 'top',
            },
            title: {
              display: true,
            }
          }
      },
      });
      sensorChart.update()
}
// docReady
$(document).ready(async function () {
  $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
  // init   
   await getMovimentation()
    
    switch (filterCategory) {
      case "INOCULUM":
        letterElement="_I"
        $("#titoloFiltro").html(`elemento inoculo`)
        $("#cultivation_info_Show").html(parentElement.inoculum_name)
        $("#lottoExpDate").html(parentElement.exp_date)
        $("#lottoName").html(parentElement.inoculum_name)
        $("#lottoCode").html(parentElement.code_inoculum)
        $("#harvest_Crd").hide()
        break;

      case "SPAWN":
        letterElement="_S"
        $("#titoloFiltro").html("elemento spawn")
        $("#cultivation_info_Show").html(parentElement.spawn_name)
       // $("#storageId_Show").parent().parent().hide()
        $("#lottoName").html(parentElement.spawn_name)
        $("#lottoCode").html(parentElement.code_spawn)
        $('#lottoExpDate').closest('div').hide();
        $("#harvest_Crd").hide()
        break;

      case "CULTIVATION":
        letterElement="_C"
        $('#lottoExpDate').closest('div').hide();
        $("#titoloFiltro").html("elemento coltivazione")
        $("#cultivation_info_Show").html(parentElement.propagation_name)
        $("#lottoName").html(parentElement.propagation_name)
        $("#lottoCode").html(parentElement.code_propagation)
        $("#harvest_Crd").show()
        break;
    }
    $("#lottoStrain").html(parentElement.strain.code_strain)
    $("#lottoPurchased").html(parentElement.purchased?"Si":"No")
    $("#lottoContainer").html(parentElement.container.code_container+" "+parentElement.container.container_name)
    $("#lottoNContainer").html(parentElement.n_container)
    $("#lottoSubQt").html(parentElement.substrateQt?parentElement.substrateQt:"-")
    $("#lottoSpnQt").html(parentElement.spawnQt?parentElement.spawnQt:"-")
    $("#lottoPercInoc").html(parentElement.percInoculo?parentElement.percInoculo:"-")
    

    tableMushElement=$('#mushElement_Tbl').DataTable({responsive: true,order: [[5, 'desc']]})
    $('#dt_start_DT').datetimepicker({locale: 'it', format:"DD-MM-YYYY"})
    $('#dt_end_DT').datetimepicker({locale: 'it', format:"DD-MM-YYYY"})
    $('#pick_date_DT').datetimepicker({locale: 'it', format:"DD-MM-YY"})
    $('#check_date_DT').datetimepicker({locale: 'it', format:"DD-MM-YY",autoclose:true})
    $('#setExpectedMatDate_DT ').datetimepicker({locale: 'it', format:"DD-MM-YY"})
    $('#setRealMatDate_DT ').datetimepicker({locale: 'it', format:"DD-MM-YY"})
    $('#setExpectedFructDate_DT ').datetimepicker({locale: 'it', format:"DD-MM-YY"})
    $('#setRealFructDate_DT ').datetimepicker({locale: 'it', format:"DD-MM-YY"})
    $('#harvest_date_DT').datetimepicker({locale: 'it', format:"DD-MM-YY"})
    
    $('#harvest_date_DT').datetimepicker('date', new Date())
    $('#check_date_DT').datetimepicker('date', new Date())
    $('#pickDate_DT').datetimepicker('date', new Date())


     $("#dt_start_Fl").on("dp.change", function (e) {
           let data=$('#dt_start_Fl').val()
           $('#dt_stop_DT').val(data)
       });
    drawElementNote(mushElement.id)
    console.log(mushElement)
    drawElementHarvest(mushElement.mushElementHarvests)
  $("#dt_start_DT").on("change.datetimepicker", function (e) {
            $('#dt_end_DT').datetimepicker('date', moment(e.date).add(15, 'd'));
        });
  //fruct mushElement
  $("#fructElement_Btn").click(function (e) { 
    e.preventDefault();
    let c=confirm("Stai mettendo l'elemento in fruttificazione, continuare l'operazione?")
    if (c==true){
      $.ajax({
        type: "GET",
        url: "/mushElement/changeStage?stage=2&idElement="+mushElement.id+"&codElement="+mushElement.element_code,
        success: function (response) {
          window.location="/mushElement/singleMushElement?id="+mushElement.id+"&filterCategory=CULTIVATION"
        }
      });
    }
  });
  // Delete mushElement
    $(document).on("click",".deleteMushElement_Btn", async function(e){
      e.preventDefault();
      let id=$(this).attr("idMushElement")
      let name=$(this).attr("mushElementName")
      let spawnId=$(this).attr("spawnId")
      let c=confirm(`Stai eliminando lotto di coltivazione ${name}, vuoi continuare? `)
      if (c==true){
        $.ajax({
        type: "DELETE",
        url: "/mushElement/deleteMushElement?id="+id+"&spawnId="+spawnId,
        success: async function (response) {
          await drawTable()
        }
      });
      }
    })

     $("#printCode_Btn").click(function (e) { 
      e.preventDefault();
      $.ajax({
        type: "GET",
        url: "/mushElement/getQrElement?elementCode="+mushElement.element_code,
        success: function (response) {
          console.log(response)
          $("#qrCode_Img").html( `<img src="${response.qrCode} " alt="${mushElement.element_cod}" />`)
          $("#qrCode_Mdl").modal("show")
        },
        error:function(err){
          console.log(err)
        }
      });
      
    });
   
    // Element
    $(document).on("click",".genQrCodeElement_Btn", function () {
      let idElement=$(this).attr("idElement")
      $.ajax({
        type: "GET",
        url: "/mushElement/getQrElement?id="+idElement,
        success: function (response) {
          console.log(response)
          let img=`<img src="${response.qrCode}"  />`
          $("#qrcode").html(img)
          $("#qrCode_Mdl").modal("show")
        }
      });
      
    });

    $("#modElement_Btn").click(function (e) { 
      e.preventDefault();
      $("#stageDD").val(mushElement.stage);
      $("#showElement_Div").hide()
      $("#modelement_Div").show()
    });
    $("#abortElement_Btn").click(function (e) { 
      e.preventDefault();
      resetForm("updateMushElement_Frm")
      $("#showElement_Div").show()
      $("#modelement_Div").hide()
    });

    $("#saveElement_Btn").click(function (e) { 
      e.preventDefault();
      $.ajax({
        type: "PUT",
        url: "/mushElement/modMushElement",
        data: $("#updateMushElement_Frm").serialize(),
        success: function (response) {
          window.location.replace("/mushElement/singleMushElement?id="+idMushElement+"&filterCategory="+filterCategory ); 
        }
      });
    });

    $("#delElement_Btn").click(function (e) { 
      e.preventDefault();
      $('#pick_Mdl').modal('show')
    });
    $("#pickDelete_Btn").click(function (e) { 
      e.preventDefault();

      if (checkForm("pick_Frm")){
        let deleteFlag=$("#deleteElem").is(":checked");
        console.log(deleteFlag)
        console.log("--")
        if (confirm("Vuoi continuare?")){
          $.ajax({
            type: "PUT",
            url: "/mushElement/pickElement",
            data: $("#pick_Frm").serialize(),
            success: function (response) {
              if (deleteFlag==true){
                window.location.replace("/mushElement/"); 
              }else{
                window.location.replace("/mushElement/singleMushElement?id="+idMushElement+"&filterCategory="+filterCategory ); 
              }
            }
          });
        } else {
          $('#pick_Mdl').modal('hide')
        }
      }else{
        alert("Compila i dati obbligatori")
      }
    });


       // Element Note
    $("#addMushElementNote_Btn").click(function (e) { 
      e.preventDefault();
       
      $("#filterCategoryNote_Fld").val(filterCategory)
      $("#insertNote_Mdl").modal("show")
    });
  
    $("#saveMushElementNote_Btn").click(function (e) { 
      e.preventDefault();
      let idMushElement=$("#idMushElementNote_Fld").val()
      //console.log(idMushElement)
      let el=document.getElementById("mushElementNote_Form")
      console.log(el)
      let formdata = new FormData(document.getElementById("mushElementNote_Form"));
      for (var [key, value] of formdata.entries()) { 
          console.log(key, value);
        }
      $.ajax({
        type: "POST",
        url: "/mushElement/newMushElementNote?type="+filterCategory,
        data: formdata,
        processData: false,
        contentType: false,
        success: async function (response) {
          console.log(response)
            if (response.error==true){
              alert(response.data)
            }else{
          drawElementNote(mushElement.id)
          $("#insertNote_Mdl").modal("hide")
          resetForm("mushElementNote_Form")
        }
        },
        error: function(err){
          console.log(err)
        }
      });
    });

    $("#abortMushElementNote_Btn").click(function (e) { 
      e.preventDefault();
      $("#mushElementNote_Form").hide()
      $("#mushElementNote_Tbl").show()
      $("#addMushElementNote_Btn").show()
    });
    
    $(document).on("click",".delMushElementNote", function (e) {
      e.preventDefault()
        let idMushElementNote=$(this).attr("idmushelementnote")
        let idMushElement=$(this).attr("idmushelementnote")
        console.log(idMushElementNote,idMushElement)
        let c=confirm(`Stai eliminando una nota, vuoi continuare? `)
        if (c==true){
          $.ajax({
            type: "DELETE",
            url: "/mushElement/deleteMushElementNote?id="+idMushElementNote,
            success: async function (response) {
               await drawElementNote(idMushElement)
            }
          });
        }
    });

    // area movimentation
    $(document).on("click",".drawDataGraph",async function (e) { 
      e.preventDefault();
      let storageId=$(this).attr("storageId")
      let from=$(this).attr("from")
      let to=$(this).attr("to")
      let sensorData=await getSensorData(storageId,from,to)
      let stor
      storages.forEach(el=>{if(el.id==storageId){
        stor=el
      }})
      let label=[]
      let dataSet=[]
      sensorData.forEach(elem=>{label.push(moment.utc(elem.createdAt).format("DD-MM HH:mm"))})
     

      // Draw temp graph
      if (stor.devices[0].temp==1){
        let tempData=[]
        sensorData.forEach(elem=>{tempData.push(elem.temp)})
        dataSet.push({
          label:"Temperatura",
          data:tempData,
          borderColor:"#FA6384"
        })
      }
      // Draw hum graph
      if (stor.devices[0].hum==1){
        let humData=[]
        sensorData.forEach(elem=>{humData.push(elem.hum)})
        dataSet.push({
          label:"Umidità",
          data:humData,
          borderColor:"#9BD0F5"
        })
      }
      await drawGraph(label,dataSet)
      $("#sensorDataGraph_Mdl").modal("show")
    });

// Are raccolto
$("#addHarvest_Btn").click(function (e) { 
  e.preventDefault();
  $("#insertHarvest_Mdl").modal('show')
});
$("#abortHarvest_Btn").click(function (e) { 
  e.preventDefault();
  $("#insertHarvest_Mdl").modal('hide')
});

$("#saveHarvest_Btn").click(function (e) { 
  let c=checkForm("mushElementHarvest_Form")
  e.preventDefault();
  if(c==true){
    $.ajax({ 
    type: "POST",
    url: "/mushElement/insertHarvest",
    data: $("#mushElementHarvest_Form").serialize(),
    success: function (response) {
      $("#insertHarvest_Mdl").modal("hide")
      $("#harvest_weight").val("").removeClass("border-danger border-success")
      drawElementHarvest(response.harvest)
    }     
  });
  }
  });

$(document).on("click",".delMushElementHarvest", function (e) { 
  e.preventDefault();
  let idMushElementHarvest=$(this).attr("idmushelementharvest")
  let c=confirm("Eliminare il raccolto selezionato?")
  if(c==true){
    $.ajax({
    type: "DELETE",
    url: "/mushElement/deleteHarvest?idMushElementHarvest="+idMushElementHarvest,
    success: function (response) {
      $.ajax({
        type: "GET",
        url: "/mushElement/getHarvest?id="+mushElement.id+"&filterCategoryHarvest="+mushElement.type,
        success: function (response) {
          drawElementHarvest(response.harvest)
        }
      });}
  });
  }
});

  // insertHarvest_Mdl
  // mushElementHarvest_Form
  // saveHarvest_Btn
  // abortHarvest_Btn

// Default
    $("#backToMain_Btn").click(function (e) { 
        e.preventDefault();
         window.location='/mushElement?filterCategory='+filterCategory
      });

});
    

</script>
<%- include ('../closeTag') %>
