<%- include ('../header') %>
<%- include ('../navbar') %>
<%- include ('../sidebar') %>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="mushElement-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Gestione elementi <span id="titoloFiltro"> </span>  
            <!-- <button class="btn btn-xs btn-primary" id="modMushElement_Btn" style="display: none;"><i class="fas fa-plus"></i> Modifca lotto</button>
              <button type="button" class="btn btn-xs btn-primary" id="newMushElement_Btn"><i class="fas fa-plus"></i> Nuova lotto</button> -->
              <button class="btn btn-xs btn-primary" id="backToMain_Btn" style="display: none;"> <i class="fas fa-long-arrow-alt-left"></i> Torna all'elenco</button>
            </h1>
          </div>
          
        </div>
      </div>
    </div>
    <section class="content">
      <div class="mushElement-fluid" >
          <div class="card w-100" id="">
            <div class="row m-3">
              <h4 class="mx-auto"><%= mushElement.element_code %></h4>
              <% if (mushElement.active==0){%>
              <div class="col-12 text-center">
                <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> 
                  <span class="small">
                  Elimianto:<%= mushElement.pick_date %>  <%= mushElement.pick_reason %> 
                  </span>
              </div>
              <% } %>
              
                <div class="row w-100 mt-3">
                  <!--Raccolto  -->
                  <div class="col-12 mx-auto my-2">
                    <div class="card w-100 mx-auto">
                    <div class="card-header"  >
                      <h3 class="card-title">Raccolto (<span id="countHarvest"></span>) </h3>
                      <div class="card-tools">
                        <button class="btn btn-xs btn-primary mx-1" id="insertHarvest_Btn"
                        <% if (mushElement.active==0){%>
                          disabled
                        <% } %>
                        > <i class="fas fa-plus"></i> Inserisci raccolto</button>
                        <!-- <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button> -->
                      </div>
                    </div>
                    <div class="card-body py-0">
                      <!-- Harvest form -->
                      <div class="row w-100 py-2" id="mushElementHarvest_Frm_Wrp" style="display: none;">
                        <form class="form w-100" enctype="multipart/form-data" id="mushElementHarvest_Form" >
                        <input type="hidden" class="form-control" name="idMushElementHarvest"  tp="hidden" value="<%= mushElement.id %>">
                        <input type="hidden" class="form-control" name="filterCategoryHarvest"  tp="hidden" value="<%= mushElement.type %>">
                        <div class="row w-100">
                          <div class="col-md-6">
                            <dl>
                              <dt>Data raccolto</dt>
                              <dd class="mushElementNoteForm">
                                <div class="form-group">
                                  <div class="input-group date" id="harvest_date_DT" data-target-input="nearest">
                                    <input type="text" required class="form-control datetimepicker-input form-control-sm form-control-minimal" data-target="#harvest_date_DT " name="harvest_date">
                                    <div class="input-group-append" data-target="#harvest_date_DT" data-toggle="datetimepicker">
                                      <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                                    </div>
                                  </div>
                                </div>
                              </dd>
                            </dl>
                          </div>
                          <div class="col-6">
                            <dl>
                              <dt>Peso</dt>
                              <dd class="mushElementNoteForm">
                                <div class="form-group">
                                  <input type="number"
                                  step="0"
                                  min="0"
                                    class="form-control" name="harvest_weight" id="harvest_weight" 
                                    required placeholder="Inserisci peso in grammi">
                                </div>
                              </dd>
                            </dl>
                          </div>
                        </div>
                        <div class="row w-100">
                          <div class="col-12">
                            <dl>
                              <dt>Note</dt>
                              <dd class="mushElementNoteForm">
                                <div class="form-group">
                                  <textarea class="form-control" name="harvest_note" id="harvest_note_Fld"></textarea>
                                </div>
                              </dd>
                            </dl>
                          </div>
                        </div>
                        <button class="btn btn-xs btn-primary mx-1" id="saveHarvest_Btn"> <i class="fas fa-plus"></i> Salva raccolta</button>
                        <button class="btn btn-xs btn-secondary mx-1" id="abortHarvest_Btn"> <i class="fas fa-plus"></i> Annulla inserimento</button>
                      </form>
                      </div>
                      <!-- Harvest table -->
                      <div class="row w-100 " id="harvestList_Wrp" style="display: none;">
                        <table class="table table-sm table-striped  mx-auto" id="harvestTable_Tbl">
                          <thead>
                            <tr>
                              <th  class="col-1">#</th>
                              <th class="col-2">Raccolto in g</th>
                              <th class="col-7">Note</th>
                              <th class="col-2">Data raccolto</th>
                            </tr>
                          </thead>
                          <tbody id="harvestTable_Tblb">
                          </tbody>
                        </table>
                      </div>
                    </div>
                    </div>
                  </div>
                  <!-- Nota -->
                  <div class="col-12 mx-auto my-2">
                    <div class="card w-100  mx-auto">
                    <div class="card-header" >
                      <h3 class="card-title">Note (<span id="countNote"></span>) </h3>
                        
                      <div class="card-tools">
                        <button class="btn btn-xs btn-primary mx-1" id="insertNote_Btn"
                        <% if (mushElement.active==0){%>
                          disabled
                        <% } %>
                        > <i class="fas fa-plus"></i> Inserisci nota</button>
<!--                       
                          <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button> -->
                      </div>
                    </div>
                    <div class="card-body py-0">
                      <div class="row w-100 p-2" id="noteZoom_Wrp" style="display: none;">
                        <div class="col-sm-12 col-md-4">
                          <img src="/dist/placeholder.png" id="note_Img" style="max-width: 300px; max-height: 300px;">
                        </div>

                        <div class="col-sm-12 col-md-8">
                        <di class="row"><span id="dataNote"></span></di>
                        <di class="row"><span id="statoNote"></span></di>
                        <di class="row"><span id="nota"></span></di>
                        </div>
                        <div class="col-12 my-2">
                        <button class="btn btn-xs btn-primary mx-1" id="backListNote_Btn" style="width: 40px;"> <i class="fa fa-arrow-left" aria-hidden="true"></i></button>

                        </div>
                      </div>
                  <div class="row w-100 m-2 py-2" id="mushElementNote_Wrp" style="display: none;">
                    <form class="form w-100" enctype="multipart/form-data" id="mushElementNote_Form" >
              <input type="hidden" class="form-control" name="idMushElementNote" id="idMushElementNote_Fld" tp="hidden" value="<%= mushElement.id %>">
              <input type="hidden" class="form-control" name="filterCategoryNote" id="filterCategoryNote_Fld" tp="hidden" value="<%= mushElement.type %>">
              <div class="row w-100">
                <div class="col-md-6">
                  <dl>
                    <dt>Data controllo</dt>
                    <dd class="mushElementNoteForm">
                      <div class="form-group">
                        <div class="input-group date" id="check_date_DT" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minimal" data-target="#check_date_DT " name="check_date">
                          <div class="input-group-append" data-target="#check_date_DT " data-toggle="datetimepicker">
                            <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                </div>
                <div class="col-6">
                  <dl>
                    <dt>Stato elemento</dt>
                    <dd class="mushElementNoteForm">
                      <div class="form-group">
                        <select tp="selectField" class="form-control form-control-sm form-control-minimal" name="statoMushElementNote" id="statoMushElementNote_Fld" required="">
                          <option value="">Seleziona lo stato</option>
                          <option value="Buono">Buono</option>
                          <option value="Cattivo">Cattivo</option>
                          <option value="Contaminato">Contaminato</option>
                          <option value="In osservazione">In osservazione</option>
                        </select>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-12">
                  <dl>
                    <dt>Note</dt>
                    <dd class="mushElementNoteForm">
                      <div class="form-group">
                        <textarea class="form-control" name="noteMushElementNote" id="noteMushElementNote_Fld"></textarea>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-md-12">
                  <dl>
                    <dt>Picture</dt>
                    <div class="input-group mb-3">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" name="imgMushElementNote" id="imgMushElementNote">
                        <label class="custom-file-label" for="imgMushElementNote" aria-describedby="imgMushElementNoteAddon02" >
                          Seleziona immagine
                        </label>
                      </div>
                    </div>
                  </dl>
                </div>
              </div>  
                
                
              <button class="btn btn-xs btn-primary mx-1" id="saveMushElementNote_Btn"> <i class="fas fa-plus"></i> Salva nota</button>
              <button class="btn btn-xs btn-secondary mx-1" id="abortMushElementNote_Btn"> <i class="fas fa-plus"></i> Annulla inserimento</button>
                    </form>
                  </div>
                  <div class="row w-100" id="mushElementNote_Tbl_Wrp" style="display: none;">
                    <table class="table table-sm table-striped">
                      <thead>
                        <tr>
                          <th class="col-md-1 col-sm-1">#</th>
                          <th class="col-md-2 col-sm-1">Stato</th>
                          <th class="col-md-8 col-sm-7">Nota</th>
                          <th class="col-md-1 col-sm-2">Data</th>
                        </tr>
                      </thead>
                      <tbody id="noteTable_Tblb">
                        
                        
                      </tbody>
                    </table>
                  </div>
                  </div>
                    </div>
                  </div>
                  <div class="col-12 mx-auto my-2">
                    <% if ((mushElement.type=="SPAWN")&&(mushElement.active==1)){
                      if(mushElement.stage==null){%>
                    <button type="button" name="" id="fructElement_Btn" class="btn btn-success btn-block"> 
                        Metti in fruttificazione <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                  <% } else if (mushElement.stage==2){ %>
                    <div class="col mx-auto h4 text-center">Elemento in fruttificazione</div>
                  <% }} %>

                  <% if ((mushElement.type=="CULTIVATION")&&(mushElement.active==1)){
                      if(mushElement.stage==1){%>
                    <button type="button" name="" id="fructElement_Btn" class="btn btn-success btn-block"> 
                        Metti in fruttificazione <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                  <% } else { %>
                    <div class="col mx-auto h4 text-center">Elemento in fruttificazione</div>
                  <% }} %>
                  </div>
                  <div class="col-12 mx-auto my-2">
                    <a href="/mushElement/singleMushElement?id=<%= mushElement.id%>&filterCategory=<%= mushElement.type%>">
                      <button type="button" name="" id="" class="btn btn-primary btn-block"> 
                         Dati elemento <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                    </a>
                  </div>
                  <div class="col-12 mx-auto my-2">
                    <button type="button" name="" id="delElement_Btn" class="btn btn-danger btn-block"
                    <% if (mushElement.active==0){%>
                    disabled
                    <% } %>
                    >Pick elemento
                      <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </button>
                  </div>

                </div>
            </div>
          </div>
      </div>
  </section>
</div>
<!-- Pick modal -->
<div class="modal fade" id="pick_Mdl" tabindex="-1" aria-labelledby="pick_MdlLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pick_MdlLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="pick_Frm">
          <input type="hidden" name="idMushElement" value="<%= mushElement.id %>">
          <div class="row w-100">
                    <div class="col-6">
                      <dl>
                        <dt>Data prelievo*</dt>
                        <dd id="pick_date_Edit" class="elementText">
                          <div class="col" id="pickDate_Fld" >
                            <div class="form-group">
                              <div class="input-group date" id="pickDate_DT" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minimal" data-target="#pickDate_DT " 
                                        name="pickDate" id="pickDate" value="" required>
                                <div class="input-group-append" data-target="#pickDate_DT " data-toggle="datetimepicker">
                                  <div class="input-group-text  form-control-sm form-control-minimal"><i class="fa fa-calendar"></i></div>
                                </div>
                              </div>
                            </div>
                          </dd>
                      </dl>
                    </div>
                    <div class="col-6">
                      <dl>
                        <dt>Motivo prelievo*</dt>
                        <dd id="pick_reason_Edit" class="elementText"> 
                          <div class="form-group">
                            <select  class="form-control form-control-sm form-control-minimal" id="ppickReason" name="pickReason" required>
                              <option value="">--</option>
                            <% for (let i = 0; i < pickReasonDD.length; i++) {%>
                              <option value="<%=pickReasonDD[i].val %>"><%= pickReasonDD[i].txt%></option>
                            <%} %>
                            </select>
                        </dd>
                      </dl>
                    </div>
                  </div>
                  <div class="row w-100">
                    <div class="col">
                      <div class="form-group">
                      <label for="">Note prelievo</label>
                      <textarea class="form-control" name="pickNote" id="pickNote" rows="3"></textarea>
                    </div>
                    </div>
                    
                </div>
                <div class="row w-100">
                  <div class="col">
                    <div class="form-check form-check-inline text-danger">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" name="deleteElem" id="deleteElem" value="1"> Vuoi eliminare definitivamente l'elemento?
                    </label>
                  </div>
                  </div>
                </div>
                <div class="row w-100 mt-2">
                  <div class="alert alert-danger w-100" role="alert">
                    Dopo il prelievo l'elemento non sarà più modificabile.
                  </div>
                  <button type="button" class="btn btn-primary btn-xs" id="pickDelete_Btn">Salva prelievo</button>
                </div>
        </form>
      </div>
    </div>
  </div>
</div>
 <!-- Loading -->
<style>
  #loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
 <div id="loadingOverlay" style="display:none;">
  <div class="spinner"></div>
</div>
<script src="/dist/js/heic2any.min.js"></script>
<script src="/dist/heicHandlerAndResizeJpg.js"></script>

<%- include ('../footer') %>
<%- include ('../jsLoad') %>

<script>

let mushElement =<%- JSON.stringify(mushElement) %>
let mushElementNotes=[]
let filterCategory=mushElement.type
let limitListHarvest=5
let limitListNote=5
let pathLetter

// Harvest table
function drawHarvestTable(limit=0) {
  $.ajax({
    type: "GET",
    url: "/mushElement/getHarvest?id="+mushElement.id+"&filterCategoryHarvest="+mushElement.type,
    success: function (response) {
      let html=""
        let total=0
        let harvest=response.harvest
        if (harvest.length>0){
          for (let i = 0; i < harvest.length; i++) {
            const hv = harvest[i];
            total+=hv.harvest_weight
            let disable
            if (mushElement.active==0){
              disable="disabled"
            }
             html+=`<tr>
              <td>
                <button type="button" name="" id="${hv.id}" ${disable}
              class="btn btn-danger btn-xs delMushElementHarvest" style="width:25px"
              idMushElementHarvest="${hv.id}" idMushElement="${hv.mushElementId}">
                <i class="fa fa-trash fa-sm " aria-hidden="true"></i>
            </button></td>
             <td>${hv.harvest_weight}</td>
             <td>${hv.note}</td>
              <td>${moment(hv.harvest_date).format("DD-MM-YY")}</td>

             </tr>`

          } 
        } else {
          html=`<tr class="bg-danger txt-white text-center" > <td colspan="4">Non sono presenti raccolti</td></tr>`
        }
        console.log(html)
        $("#harvestTable_Tblb").html(html)
      $("#countHarvest").html(total+" g")
      $("#mushElementHarvest_Frm_Wrp").hide();
      $("#harvestList_Wrp").show();
    }
  });
  
  }

// Note table
function drawNoteTable(limit=10){
  $.ajax({
    type: "GET",
    url: "/mushElement/getMushElementNote?idElement="+mushElement.id+"&filterCategoryNote="+mushElement.type,
    success: function (response) {
       let html=""
        mushElementNotes=response.mushElementNotes
        if (mushElementNotes.length>0){
          for (let i = 0; i < mushElementNotes.length; i++) {
            const nt = mushElementNotes[i];
            let notaTxt=nt.note
            if(notaTxt.length>30){
              notaTxt=notaTxt.slice(0,20)
            }
            let disable
            if (mushElement.active==0){
              disable="disabled"
            }
             html+=`<tr>
              <td>
                <button type="button" name="" id="${nt.id}" ${disable}
              class="btn btn-danger btn-xs delMushElementNote" style="width:25px"
              idMushElementNote="${nt.id}" idMushElement="${nt.mushElementId}">
                <i class="fa fa-trash fa-sm " aria-hidden="true"></i>
            </button>
            <button type="button" name="" id="" class="btn btn-primary btn-xs showNote" idNote="${i}" style="width:25px">
                <i class="fa fa-eye fa-sm" aria-hidden="true"></i>
            </button>
            </td>
              <td>${nt.stato}</td>
             <td>${notaTxt}</td>

              <td>${moment(nt.check_date).format("DD-MM-YY")}</td>
             </tr>`
            }
         } else {
          html=`<tr class="bg-danger txt-white text-center" > <td colspan="4">Non sono presenti note</td></tr>`
        }
      $("#noteTable_Tblb").html(html)
      $("#mushElementNote_Tbl_Wrp").show()
      $("#mushElementNote_Wrp").hide()
      $("#countNote").html(mushElementNotes.length)
    }
  });
}

$(document).ready(async function () {
  $('#harvest_date_DT').datetimepicker({locale: 'it', format:"DD-MM-YY"})
  $('#harvest_date_DT').datetimepicker('date', new Date())
  $('#check_date_DT').datetimepicker({locale: 'it', format:"DD-MM-YY",autoclose:true})
  $('#check_date_DT').datetimepicker('date', new Date())
  $('#pickDate_DT').datetimepicker({locale: 'it', format:"DD-MM-YY"})
  $('#pickDate_DT').datetimepicker('date', new Date())

  switch (mushElement.type) {
    case "INOCULUM":
      pathLetter="I"
    break;
    case "SPAWN":
      pathLetter="S"
    break;
    case "CULTIVATION":
      pathLetter="C"
    break;
  }

  /** 
   * Harvests - raccolti
  */
  drawHarvestTable(limitListHarvest)
  $("#insertHarvest_Btn").click(function (e) { 
    e.preventDefault();
    $("#mushElementHarvest_Frm_Wrp").show();
      $("#harvestList_Wrp").hide();
  });
  $("#saveHarvest_Btn").click(function (e) { 
    e.preventDefault();
    checkForm("mushElementHarvest_Form")
    $.ajax({
      type: "POST",
      url: "/mushElement/insertHarvest",
      data: $("#mushElementHarvest_Form").serialize(),
      success: function (response) {
        drawHarvestTable(limitListHarvest)
        $(document).Toasts('create', {
          title: 'Inserimento raccolto',
          body: 'Il raccolto è stato inserito correttamente',
          class:'toast-danger'
        })
        $("#harvest_weight").val("").removeClass("border-danger border-success")
        $("#harvest_note_Fld").val("").removeClass("border-danger border-success")
        $("#harvest_date").removeClass("border-danger border-success")
        
        }
    });
  });
  $("#abortHarvest_Btn").click(function (e) { 
    e.preventDefault();
    $("#harvest_weight").val("")
    $("#mushElementHarvest_Frm_Wrp").hide();
      $("#harvestList_Wrp").show();
      $("#harvest_weight").val("").removeClass("border-danger border-success")
        $("#harvest_note_Fld").val("").removeClass("border-danger border-success")
        $("#harvest_date").removeClass("border-danger border-success")
  });
  $(document).on("click",".delMushElementHarvest", function (e) { 
      e.preventDefault();
      let idMushElementHarvest=$(this).attr("idmushelementharvest")
      let c=confirm("Eliminare il raccolto selezionato?")
      if(c==true){
        $.ajax({
        type: "DELETE",
        url: "/mushElement/deleteHarvest?idMushElementHarvest="+idMushElementHarvest,
        success: function (response) {
              drawHarvestTable(limitListHarvest)
          }
          });
          }
        })

    /** Fructification BTN */
    $("#fructElement_Btn").click(function (e) { 
    e.preventDefault();
    let c=confirm("Stai mettendo l'elemento in fruttificazione, continuare l'operazione?")
    if (c==true){
      $.ajax({
        type: "GET",
        url: "/mushElement/changeStage?stage=2&idElement="+mushElement.id+"&codElement="+mushElement.element_code,
        success: function (response) {
          window.location="/mushElement/mushElementLanding?elementCode="+mushElement.element_code
        }
      });
    }
  });
  
   /** Element note */
    drawNoteTable(limitListNote)
    $("#insertNote_Btn").click(function (e) { 
      e.preventDefault();
      $("#mushElementNote_Wrp").show()
      $("#mushElementNote_Tbl_Wrp").hide();
      $(this).hide()
    });
    $("#saveMushElementNote_Btn").click(async function (e) { 
      
          e.preventDefault();

      const form = document.getElementById("mushElementNote_Form");
      let formdata = new FormData(form);

      let fileKey = null;
      let file = null;

      for (let [key, value] of formdata.entries()) {
        if (value instanceof File && value.size > 0) {
          fileKey = key;
          file = value;
          break;
        }
      }

      // 🔄 Convert + Resize
      if (file) {
        try {
          const resizedBlob = await convertAndResizeImage(file, 1024);
          const baseName = file.name
            .replace(/\.[^/.]+$/, "")   // rimuove estensione
            .replace(/\s+/g, "_");      // spazi → _
          const newFile = new File(
            [resizedBlob],
            baseName + ".jpg",
            { type: "image/jpeg" }
          );
          formdata.delete(fileKey);
          formdata.append(fileKey, newFile);
          console.log("Immagine convertita e ridimensionata");
        } catch (err) {
          console.error(err);
          alert("Errore elaborazione immagine");
          return;
        }
      }
      $.ajax({
        type: "POST",
        url: "/mushElement/newMushElementNote?type="+filterCategory,
        data: formdata,
        processData: false,
        contentType: false,
        beforeSend: function () {
          console.log("before")
          $("#loadingOverlay").fadeIn(200);
        },
        success: async function (response) {
          await drawNoteTable(limitListNote)
          resetForm("mushElementNote_Form")
          $("#insertNote_Btn").show()
        },
        complete: function () {
          console.log("Completato Upload")
          $("#loadingOverlay").fadeOut(200);
        }
      });
    });
    $("#abortMushElementNote_Btn").click(function (e) { 
      e.preventDefault();
      drawNoteTable(limitListNote)
      $("#insertNote_Btn").show()
    });
    $(document).on("click",".delMushElementNote", function (e) { 
      e.preventDefault();
      let idMushElementNote=$(this).attr("idMushElementNote")
      let c=confirm("Eliminare la nota selezionata?")
      if(c==true){
        $.ajax({
        type: "DELETE",
        url: "/mushElement/deleteMushElementNote?id="+idMushElementNote,
        success: function (response) {
              drawNoteTable(limitListHarvest)
          }
          });
          }
        })
    $(document).on("click",".showNote", function (e) {
      e.preventDefault();
      let idNote=$(this).attr("idNote")
      let nota=mushElementNotes[idNote]
      
      if (nota.pict){
        let imgUrl=nota.pict?"/imgMushEleNote/"+mushElement.element_code+"/"+nota.pict:null
        $("#note_Img").attr('src', imgUrl).show();
      } else {
        $("#note_Img").hide()
      }

      $("#dataNote").html(moment(nota.check_date).format("DD-MM-YY"))
      $("#statoNote").html(nota.stato)
      $("#nota").html(nota.note)
      $("#noteZoom_Wrp").show()
      $("#mushElementNote_Tbl_Wrp").hide();
    });

    /** Picke elemento */
     $("#delElement_Btn").click(function (e) { 
      e.preventDefault();
      $('#pick_Mdl').modal('show')
    });
    $("#pickDelete_Btn").click(function (e) { 
      e.preventDefault();

      if (checkForm("pick_Frm")){
        let deleteFlag=$("#deleteElem").is(":checked");
        console.log(deleteFlag)
        console.log("--")
        if (confirm("Vuoi continuare?")){
          $.ajax({
            type: "PUT",
            url: "/mushElement/pickElement",
            data: $("#pick_Frm").serialize(),
            success: function (response) {
              if (deleteFlag==true){
                window.location.replace("/mushElement/"); 
              }else{
                window.location.replace("/mushElement/mushElementLanding?elementCode="+mushElement.element_code ); 
              }
            }
          });
        } else {
          $('#pick_Mdl').modal('hide')
        }
      }else{
        alert("Compila i dati obbligatori")
      }
    });

    /** Utility */
    $(document).on("click","#backListNote_Btn", function (e) {
      e.preventDefault();
      console.log("back")
      $("#noteZoom_Wrp").hide()
      $("#mushElementNote_Tbl_Wrp").show();
    })
  });
    

</script>
<%- include ('../closeTag') %>
