<%- include ('../header') %>
<%- include ('../navbar') %>
<%- include ('../sidebar') %>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="propagation-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Gestione lotti propagazione 
            <button class="btn btn-xs btn-primary" id="modPropagation_Btn" style="display: none;"><i class="fas fa-plus"></i> Modifca lotto</button>
              <button type="button" class="btn btn-xs btn-primary" id="newPropagation_Btn"><i class="fas fa-plus"></i> Nuova lotto</button>
              <button class="btn btn-xs btn-primary" id="backToMain_Btn" style="display: none;"> <i class="fas fa-long-arrow-alt-left"></i> Torna all'elenco</button>
            </h1>
          </div>
          
        </div>
      </div>
    </div>
    <section class="content">
      <div class="propagation-fluid" >
          <!-- Table card -->
          <div class="card w-100" id="tablePropagation_Crd">
            <div class="card-body">
              <table class="display table table-striped table-bordered compact" id="propagation_Tbl" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 45px; "></th>
                        <th>Codice</th>
                        <th>Spawn</th>
                        <th>Substrato</th>
                        <th>Contenitori</th>
                        <th>Creato il</th>
                    </tr>
                </thead>
                <tbody id="propagation_Tblb">
                    
                    
                    
                </tbody>
            </table>
            </div>
          </div>
          <!-- Show/mod  Card -->
          <dvi class="card w-100" id="showPropagation_Crd" style="display: none;">
            <div class="row m-3">
              <div class="col-12">
              <form id="propagation_Form" class="p-3">
                <div class="row w-100">
                    <div class="col">
                      <!-- code_propagation
                      spawnId
                      substrateId
                      container
                      nr_container
                      used
                      note -->
                  <%- include('../include/ejsForm',
                  {classTxt: "mushElementNoteText",
                  classField: "mushElementNoteForm",
                    form:[
                    { 
                      type:"hidden",
                      fieldName:"id"
                    },
                    { type:"startRow"},
                    {
                      type:"text",
                      classBox:"col-md-3 col-sm-6",
                      fieldName:"code_propagation",
                      label:"Codice ",
                      readonly:'', 
                    },
                    {
                      type:"text",
                      classBox:"col-md-3 col-sm-6",
                      fieldName:"propagation_name",
                      label:"Nome propagazione",
                      required:'', 
                    },
                    {
                      type:"date",
                      classBox:"col-md-3 col-sm-6",
                      fieldName:"dt_start",
                      label:"Data inizio",
                      required:'', 
                    },
                    {
                      type:"date",
                      classBox:"col-md-3 col-sm-6",
                      fieldName:"dt_end",
                      label:"Data maturazione prevista",
                      required:'', 
                    },
                    { type:"endRow"},
                    { type:"startRow"},
                    {
                      type:"select",
                      classBox:"col-md-3 col-sm-6",
                      fieldName:"containerId",
                      label:"Contenitore",
                      option:containerDD
                    },
                    {
                      type:"number",
                      classBox:"col-md-3 col-sm-6",
                      fieldName:"nr_container",
                      label:"N contenitori",
                      required:'', 
                    },
                    {
                      type:"select",
                      classBox:"col-md-3 col-sm-6",
                      fieldName:"spawnId",
                      label:"Spawn",
                      option:spawnDD
                    },
                    {
                      type:"select",
                      classBox:"col-md-3 col-sm-6",
                      fieldName:"substrateId",
                      label:"Substrato",
                      option:substrateDD
                    },
                    { type:"endRow"},
                    { type:"startRow"},
                    {
                      type:"textarea",
                      classBox:"col-md-2 col-sm-6",
                      fieldName:"note",
                      label:"Note",
                    },
                    { type:"endRow"}
                    ]  }) %>
  
                    </div>
                  </div>
                  
              </form>
              <div class="col-12">
                <button type="button" class="btn btn-xs btn-primary" id="saveNewPropagation_Btn"><i class="fas fa-plus"></i> Salva lotto</button>
                <button type="button" class="btn btn-xs btn-primary" id="saveModPropagation_Btn"><i class="fas fa-plus"></i> Salva modifica lotto</button>
                <button class="btn btn-xs btn-primary mx-1" id="csvMushElementList_Btn"> <i class="fas fa-file-excel"></i> Esporta Csv </button>
                  
              </div>
              </div>
            </div>
            <div class="row m-3" id="rowPropagationElement">
              <div class="col">
                 <div class="row" >
                    <div class="col-12 h5">
                      Elementi substrato
                <button type="button" class="btn btn-xs btn-primary" id="addElement_Btn" style="display: none;"><i class="fas fa-plus"></i> Aggiungi elemento</button>

                    </div>
                  <table class="table table-sm " id="propagationElement_Tbl">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Codice elemento</th>
                        <th>Stato</th>
                        <th>Data pick</th>
                        <th>Ragione pick</th>
                        <th>Data ultimo controllo</th>
                        <th >Note</th>
                      </tr>
                    </thead>
                    <tbody id="propagationElement_Tblb">
                      
                    </tbody>
                  </table>
                  <div class="modal fade" id="qrCode_Mdl" tabindex="-1" aria-labelledby="qrCode_MdlLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="qrCode_MdlLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          
                          <div id="qrcode"></div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  </div>
                 </div>
              </div>
          </dvi>
</section>
</div>


<%- include ('../footer') %>
<%- include ('../jsLoad') %>
<script>
let pickReasonDD='<%- JSON.stringify(pickReasonDD) %>'
pickReasonDD=JSON.parse(pickReasonDD)
let pickReasonDDHtml="<option> </option>"
pickReasonDD.forEach(el => {
  pickReasonDDHtml+=`<option value="${el.val}"> ${el.txt}</option>`
});
let statoPropDD='<%- JSON.stringify(statoPropDD) %>'
statoPropDD=JSON.parse(statoPropDD)
let statoPropDDHtml="<option> </option>"
statoPropDD.forEach(el => {
  statoPropDDHtml+=`<option value="${el.val}"> ${el.txt}</option>`
});
let redirectId= <%- JSON.stringify( redirectId) %>


let tablePropagation
let idPropagation

//Check required field
function checkForm(formName){
    let check=true
    $($('#'+formName).prop('elements')).each(function(){
        if (($(this).prop("required"))&&($(this).val()=="")){
          check=false
          $(this).addClass("border-danger")
        }
        else if (($(this).prop("required"))&&($(this).val()!="")){
          $(this).removeClass("border-danger").addClass("border-success")
        }
        else{
          $(this).removeClass("border-danger")
        }
    });
    return check
  }
// Reset form
function resetForm(formName){
  $("#"+formName).get(0).reset()
  $($('#'+formName).prop('elements')).each(function(){
    $(this).removeClass("border-danger")
    $(this).removeClass("border-success")
  })
}
// Draw and update table
async function  drawTable (){
   await $.ajax({
        type: "GET",
        url: "/propagation/getAll",
        success: async function (response) {
          console.log(response)
            let html=""
            for (let i = 0; i < response.propagations.length; i++) {
                let el=response.propagations[i]
                let delBtnDisable=""
                // if (el.used!=0){
                //   delBtnDisable="disabled"
                // }
                html+=`<tr>
                           <td>
                            <button type="button" name="" id="showBtn${el.id}" 
                            class="btn btn-primary btn-xs showPropagation" style="width:25px"
                            idPropagation="${el.id}" propagationName="${el.propagation_name}">
                              <i class="fa fa-eye fa-sm" aria-hidden="true"></i>
                          </button>
                          <button type="button" name="" id="delete${el.id}" 
                          class="btn btn-danger btn-xs deletePropagation_Btn" style="width: 25px" 
                          idPropagation="${el.id}" propagationName="${el.propagation_name }" spawnId="${el.spawnId }" ${delBtnDisable}>
                            <i class="fa fa-trash fa-sm " aria-hidden="true"></i>
                          </button>
                        </td>
                                <td>${el.code_propagation}</td>
                                <td>${el.spawn.code_spawn} ${el.spawn.strain.strain_name}</td>
                                <td>${el.substrate.cod_substrate} ${el.substrate.name_substrate}</td>
                                <td>${el.nr_container} ${el.container?el.container.container_name:"-"}</td>
                                <td>${moment(el.createdAt).format("DD-MM-YY HH:mm")}</td>
                            </tr>`
                
                }
                await $('#propagation_Tbl').DataTable().clear().rows.add($(html)).draw();
            }
    });

}
// Draw propagation element
async function drawElementTable(element){
  let data=element
  let html=""
  let i=0
  if (data.length>0){
    data.forEach(el => {
    html+=`<tr>
      <td> 
<button type="button" class="btn btn-primary btn-xs genQrCodeElement_Btn" idElement=${el.id}><i class="fa fa-qrcode fa-xs" aria-hidden="true"></i></button>
        </td>
      <td >${el.proElement_code}</td>
      <td>${el.stato}
        <div class="form-group">
          <label for=""></label>
          <select class="form-control form-control-sm form-control-minima" name="stato_${i}" id="stato_${i}">
          ${statoPropDDHtml}
          </select>
        </div>   
      </td>
      <td>${el.pick_date}
        <div class="form-group">
          <div class="input-group date" id="pick_date_${i}" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input form-control-sm form-control-minima" data-target="#pick_date_${i}" />
              <div class="input-group-append" data-target="#pick_date_${i} " data-toggle="datetimepicker">
                  <div class="input-group-text form-control-sm form-control-minima"><i class="fa fa-calendar"></i></div>
          </div>
      </div>
                    </td>
      <td>${el.pick_reason} 
        <div class="form-group">
          <label for=""></label>
          <select class="form-control form-control-sm form-control-minima" name="pick_reason_${i}" id="pick_reason_${i}">
            ${pickReasonDDHtml}
          </select>
        </div> 
      </td>
      <td>${el.note}</td>
    </tr>`  
    i++
  });
  $("#propagationElement_Tblb").html(html)
  for (let i = 0; i < data.length; i++) {
    $('#pick_date_'+i).datetimepicker({locale: 'it', format:"DD-MM-YYYY"})
  }
  } else {
    html+=`<tr>
      <td class=" bg-danger text-center" colspan="5"> Non sono presenti eleemnti </td>
    </tr>` 
   $("#propagationElement_Tblb").html(html)
  }
}
// Draw show propagation
async function drawShowPropagation(id){
  await $.ajax({
        type: "GET",
        url: "/propagation/getOnePropagation?id="+id,
        success: async function (response) {
          console.log(response)
          let data=response.propagation
          // Populate GUI
          for (const [key, value] of Object.entries(data)) {
              if($("#"+key+"_Fld").attr("tp")=="textField"){
                $("#"+key+"_Fld").val(value)
              }
              if($("#"+key+"_Fld").attr("tp")=="selectField"){
                $("#"+key+"_Fld").val(value).change();
              }
              switch (key) {
                case "substrateId":
                  $("#substrateId_Show").html(data.substrate.name_substrate)
                  break;
                case "containerId":
                  $("#containerId_Show").html(data.container?data.container.container_name:"-")
                  break;     
                case "spawnId":
                  $("#spawnId_Show").html(data.spawn.code_spawn+" - "+ data.spawn.strain.strain_name)
                  break;
                default:
                  $("#"+key+"_Show").html(value?value:"-")
                  break;
                }
            }
            $("#id_Fld").val(data.id)
            await drawElementTable(data.propagationElements)
          if (response.propagation.used>0){
              $("#savePropagation_Btn").hide()
              await drawTablePropagation()
              $("#rowPropagation").show()
              $("#addElement_Btn").prop("disabled","true")
              $(".delElement_Btn").prop("disabled","true")
            } else {
              $("#rowPropagation").hide()
              $("#addElement_Btn").removeAttr("disabled")
              $(".delElement_Btn").removeAttr("disabled")
            }
          $("#showPropagation_Crd").show()
          $("#tablePropagation_Crd").hide()
          $("#newPropagation_Btn").hide()
          $("#saveModPropagation_Btn").hide()
          $("#saveNewPropagation_Btn").hide()
          $("#modPropagation_Btn").show()
          $("#backToMain_Btn").show()
          $(".elementForm").hide()
          $(".elementText").show()
          $("#savePropagation_Btn").hide()
        }
      }); 
}
$(document).ready(async function () {
  // init   
    tablePropagation=$('#propagation_Tbl').DataTable({responsive: true,pageLength: 50})
    $('#dt_start_DT').datetimepicker({locale: 'it', format:"DD-MM-YYYY"})
    $('#dt_end_DT').datetimepicker({locale: 'it', format:"DD-MM-YYYY"})

     $("#dt_start_Fl").on("dp.change", function (e) {
           let data=$('#dt_start_Fl').val()
           $('#dt_stop_DT').val(data)
       });
   if (redirectId!=null){
    drawShowPropagation(redirectId)
  }
  else{
    await drawTable()
  }  
    // New rawMAterial
  $("#newPropagation_Btn").click(async function (e) { 
    e.preventDefault();
    resetForm("propagation_Form")   
    $(".elementForm").show()
    $(".elementText").hide()
    $("#rowPropagation").hide() 
    $("#newPropagation_Btn").hide()
    $("#saveModPropagation_Btn").hide()
    $("#backToMain_Btn").show()
    $("#tablePropagation_Crd").hide()
    $("#showPropagation_Crd").show()
    $("#element_Row").hide()
    $("#saveNewPropagation_Btn").show()
    $.ajax({
      type: "GET",
      url: "/propagation/getPropagationCode",
      success: function (response) {
        $("#code_propagation_Fld").val(response.code)
      }
    });
    $('#dt_start_DT').datetimepicker('date', moment().format("DD-MM-YYYY"))
  });
  
  $("#dt_start_DT").on("change.datetimepicker", function (e) {
            $('#dt_end_DT').datetimepicker('date', moment(e.date).add(15, 'd'));
        });
  // --> New propagation
  $("#saveNewPropagation_Btn").click(function (e) { 
    e.preventDefault();
    if (checkForm("propagation_Form")){
      $.ajax({
        type: "POST",
        url: "/propagation/newPropagation",
        data: $("#propagation_Form").serialize(),   
        success: async function (response) {
          await drawTable()
          $("#showPropagation_Crd").hide()
          $("#tablePropagation_Crd").show()
          $("#newPropagation_Btn").show()
          $("#modPropagation_Btn").hide()
          $("#backToMain_Btn").hide()
          $(".elementForm").hide()
          $(".elementText").show()
          resetForm("propagation_Form")
        },
        error: function(err){
          console.log(err.message)
        }
      });
    } else{
      alert("assicurati di aver compilato i campi richiesti")
    }
});
    // Back to main
  $("#backToMain_Btn").click(async function (e) { 
    e.preventDefault();
    await drawTable()
    resetForm("propagation_Form")
    $("#newPropagation_Btn").show()
    $("#backToMain_Btn").hide()
    $("#newPropagation_Crd").hide()
    $("#showPropagation_Crd").hide()
    $("#tablePropagation_Crd").show()
    $("#modPropagation_Btn").hide()
    $("#saveNewPropagation_Btn").hide()
    $("#saveModPropagation_Btn").hide()
    $("#rowPropagationElement").hide()
  });  
  // Show/mod Raw material
  $(document).on("click",".showPropagation", async function(e){
      let id=$(this).attr("idPropagation")
      drawShowPropagation(id)
    }
  )
     // --> Mod propagation
    $("#modPropagation_Btn").click(function (e) { 
      e.preventDefault();
      $("#saveModPropagation_Btn").show()
      $(".elementForm").show()
      $(".elementText").hide()
    }); 
   //YYYY-MM-DD hh:mm:ss
   $("#saveModPropagation_Btn").click(function (e) { 
    e.preventDefault();
    if (checkForm("propagation_Form")){
    $.ajax({
        type: "PUT",
        url: "/propagation/updatePropagation",
        data: $("#propagation_Form").serialize(),   
        success: async function (response) {
          await drawTable()
          $("#showPropagation_Crd").hide()
          $("#tablePropagation_Crd").show()
          $("#newPropagation_Btn").show()
          $("#modPropagation_Btn").hide()
          $("#backToMain_Btn").hide()
          $("#saveNewPropagation_Btn").hide()
          $("#saveModPropagation_Btn").hide()
          $("#savePropagation_Btn").show()
          $(".elementForm").hide()
          $(".elementText").show()
          resetForm("propagation_Form")
        }
      });
      } else{
            alert("Assicurati di aver compilato i campi richiesti")
          }
    });
    // Delete propagation
    $(document).on("click",".deletePropagation_Btn", async function(e){
      e.preventDefault();
      let id=$(this).attr("idPropagation")
      let name=$(this).attr("propagationName")
      let spawnId=$(this).attr("spawnId")
      let c=confirm(`Stai eliminando lotto di propagazione ${name}, vuoi continuare? `)
      if (c==true){
        $.ajax({
        type: "DELETE",
        url: "/propagation/deletePropagation?id="+id+"&spawnId="+spawnId,
        success: async function (response) {
          await drawTable()
        }
      });
      }
    })

    // Element
    $(document).on("click",".genQrCodeElement_Btn", function () {
      let idElement=$(this).attr("idElement")
      $.ajax({
        type: "GET",
        url: "/propagation/getQrElement?id="+idElement,
        success: function (response) {
          console.log(response)
          let img=`<img src="${response.qrCode}"  />`
          $("#qrcode").html(img)
          $("#qrCode_Mdl").modal("show")
        }
      });
      
    });

});
    

</script>
<%- include ('../closeTag') %>
